<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="error-handling tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
